[submodule "fprime-freertos"]
	path = fprime-freertos
	url = https://github.com/laboratory10/fprime-freertos.git
[submodule "fprime-featherm4"]
	path = fprime-featherm4
	url = https://github.com/laboratory10/fprime-featherm4.git
