[submodule "fprime-freertos"]
	path = fprime-freertos
	url = https://github.com/fprime-community/fprime-freertos.git
[submodule "fprime-arduino"]
	path = fprime-arduino
	url = https://github.com/fprime-community/fprime-arduino.git
